{% extends 'base.html' %}
{% block content %}
    <div>
        <h1 class="my-4">대출 도서 목록</h1>
        <div class="border">
            {% if rent_list %}
                {% for book in rent_list %}
                    <div class="border m-2 p-2">
                        <p class="m-0">제목: {{ book.book_id }}</p>
                        <p class="m-0">대출한 날짜: {{ book.rental_date }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="m-0 py-2 text-center">대출한 도서가 없습니다.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}